.div {
    background-color: #eee2d2;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 853px;
    width: 100%;
    align-items: center;
    font-weight: 700;
    padding: 50px 57px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-3 {
    position: relative;
    border-radius: 30px;
    background-color: rgba(164, 158, 150, 0.7);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    white-space: nowrap;
    padding: 32px 60px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-4 {
    display: flex;
    width: 938px;
    justify-content: space-evenly;
  }
  @media (max-width: 991px) {
    .div-4 {
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-5 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;
  }
  .div-6 {
    font-family: Istok Web, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    padding-right: 45px;
  }
  .div-7 {
    font-family: Istok Web, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    padding-right: 45px;
  }
  .div-8 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;
  }
  .div-9 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;
  }
  .div-10 {
    position: relative;
    color: #000;
    margin-top: 59px;
    font: 32px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-11 {
    position: relative;
    color: #000;
    margin-top: 25px;
    font: 32px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    position: relative;
    border-radius: 70px;
    border: 1px solid #000;
    box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #dab5a3;
    display: flex;
    width: 100%;
    max-width: 1162px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-align: center;
    margin: 71px 0 39px;
    padding: 32px 60px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-13 {
    display: flex;
    width: 874px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-14 {
    color: #000;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    align-self: center;
    font: 32px/141% Kavoon, sans-serif;
  }
  .div-15 {
    color: #0e1a36;
    margin-top: 28px;
    font: 20px/45px Kdam Thmor, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    color: #00040d;
    align-self: center;
    margin-top: 53px;
    font: 600 16px/45px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-17 {
    border-radius: 50px 50px 0px 0px;
    background-color: #595653;
    display: flex;
    margin-top: 179px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 49px 76px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  footer{
    margin-top:15px;

}

.foot-panel{
    background-color: #111417;
    color:white;
    height:50px;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.f2{
    background-color: #222f3d;
    color:white;
    height: 500px;
    display:flex;
    justify-content: space-evenly;
    font-size: 30px;
}
ul{
    margin-top:20px;

}

ul a{
    display:block;
    font-size: 24px;
    margin-top:20px;
    color:#dddddd;

}
.f3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.f4{
    background-color: #0f1111;
    color:#dddddd;
    height:80px;
    font-size: 0.7rem;
    text-align: center;
}
  .div-19 {
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .div-20 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 27px;
  }
  .div-21 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-22 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-23 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-24 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-25 {
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
    }
  }
  .div-26 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-26 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-27 {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-27 {
      margin-top: 40px;
    }
  }
  .div-28 {
    white-space: nowrap;
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      white-space: initial;
    }
  }
  .div-29 {
    margin-top: 26px;
    font: 20px Istok Web, sans-serif;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-30 {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 40px;
    }
  }
  .div-31 {
    white-space: nowrap;
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      white-space: initial;
    }
  }
  .div-32 {
    margin-top: 26px;
    font: 20px Istok Web, sans-serif;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-33 {
    display: flex;
    margin-top: 4px;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-33 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-34 {
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-34 {
      white-space: initial;
    }
  }
  .div-35 {
    text-decoration-line: underline;
    margin-top: 22px;
    font: 20px Istok Web, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-36 {
    color: #fff;
    letter-spacing: -2.4px;
    font: 700 48px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      margin-top: 40px;
      font-size: 40px;
    }
  }