.div {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #efe6d9;
    display: flex;
    padding-top: 43px;
    flex-direction: column;
    align-items: center;
  }
  .div-2 {
    border-radius: 30px;
    background-color: rgba(89, 86, 83, 0.5);
    display: flex;
    width: 100%;
    max-width: 1322px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    padding: 32px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-4 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;
  }
  .div-5 {
    font-family: Istok Web, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    padding-right: 45px;

  }
  .div-6 {
    font-family: Istok Web, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    padding-right: 45px;

  }
  .div-7 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;

  }
  .div-8 {
    font-family: Istok Web, sans-serif;
    padding-right: 45px;

  }
  .div-9 {
    color: #000;
    margin-top: 66px;
    white-space: nowrap;
    font: 700 32px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-9 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-10 {
    color: #00040d;
    margin-top: 22px;
    white-space: nowrap;
    font: 700 36px/139% Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
    }
  }
  .div-11 {
    text-decoration-line: underline;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #dab5a3;
    margin-top: 83px;
    width: 1172px;
    max-width: 100%;
    justify-content: center;
    color: #00040d;
    padding: 55px 28px 43px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-12 {
    text-decoration-line: underline;
    border-radius: 40px;
    background-color: #dab5a3;
    margin-top: 92px;
    width: 1164px;
    max-width: 100%;
    justify-content: center;
    color: #00040d;
    padding: 86px 57px 81px 47px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-13 {
    text-decoration-line: underline;
    border-radius: 40px;
    background-color: #dab5a3;
    margin-top: 119px;
    width: 1172px;
    max-width: 100%;
    justify-content: center;
    align-items: start;
    color: #00040d;
    padding: 46px 60px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  /**.div-14 {
    border-radius: 50px 50px 0px 0px;
    background-color: #595653;
    align-self: stretch;
    display: flex;
    margin-top: 103px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 49px 75px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-15 {
    align-self: start;
    display: flex;
    margin-top: 17px;
    flex-basis: 0%;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-15 {
      white-space: initial;
    }
  }**/
  footer{
    margin-top:15px;

}

.foot-panel{
    background-color: #111417;
    color:white;
    height:50px;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.f2{
    background-color: #222f3d;
    color:white;
    height: 500px;
    display:flex;
    justify-content: space-evenly;
    font-size: 30px;
}
ul{
    margin-top:20px;

}

ul a{
    display:block;
    font-size: 24px;
    margin-top:20px;
    color:#dddddd;

}
.f3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.f4{
    background-color: #0f1111;
    color:#dddddd;
    height:80px;
    font-size: 0.7rem;
    text-align: center;
}
  /**.div-16 {
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      white-space: initial;
    }
  }
  .div-17 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 27px;
  }
  .div-18 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-19 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-20 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-21 {
    font-family: Istok Web, sans-serif;
    text-decoration-line: underline;
    margin-top: 17px;
  }
  .div-22 {
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
    }
  }
  .div-23 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-23 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-24 {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-24 {
      margin-top: 40px;
    }
  }
  .div-25 {
    white-space: nowrap;
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-25 {
      white-space: initial;
    }
  }
  .div-26 {
    margin-top: 26px;
    font: 20px Istok Web, sans-serif;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-27 {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-27 {
      margin-top: 40px;
    }
  }
  .div-28 {
    white-space: nowrap;
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      white-space: initial;
    }
  }
  .div-29 {
    margin-top: 26px;
    font: 20px Istok Web, sans-serif;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-30 {
    display: flex;
    margin-top: 4px;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-31 {
    font: 24px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      white-space: initial;
    }
  }
  .div-32 {
    text-decoration-line: underline;
    margin-top: 22px;
    font: 20px Istok Web, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-33 {
    color: #fff;
    letter-spacing: -2.4px;
    font: 700 48px Istok Web, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      margin-top: 40px;
      font-size: 40px;
    }
  }